[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux
[submodule "cheat/community"]
	path = cheat/community
	url = git://github.com/cheat/cheatsheets.git
